body {
    background: lightgray;
    /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
}
* {
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
.threedtext {

text-shadow: 0 1px 0 #ccc,
                0 1px 0 #c9c9c9,
                0 2px 0 #bbb,
                0 3px 0 #b9b9b9,
                0 4px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
                
      
}

.overlap-text {

position: absolute;
top: 23%;
left: 50%;
transform: translate(-50%, -50%);
font-size: large;
color: black;
font-weight:bold;
border-radius: 25px;
padding: 10px;
background-color: lightgray;
opacity: .7;
      
}
/* p, div, span, a, button, input {
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
} */

.button-error {
    background: rgb(202, 60, 60);
    color: white;
}

.content-padding {
    padding-top: 3em;
    padding-bottom: 3em;
}

.custom-wrapper {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: black;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 3em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-2 {
    text-align: center;
}

.custom-menu-3 {
    text-align: right;
}

.pure-menu-item a {
    padding: 0.4em;
    margin-top: 0.4em;
    font-size: 17px;
    color: white;
}

.pure-menu-item:hover a {
    background-color: red;
    color: white;
}

.search-pad {
    padding: 0.4em;
    margin-top: 0.0005em;
}

.logo {
    padding: 0;
    margin-top: 0;
    width: 6em;
}

.gym-logo {
    padding: 0;
    margin-top: 0;
    width: auto;
    height: 3em;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.custom-toggle {
    padding: 0.4em;
    margin-top: 0.4em;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 50em) {
    .custom-menu-2 {
        text-align: right;
    }
    .custom-menu-3 {
        text-align: right;
    }
    .custom-toggle {
        display: block;
    }
}
  
/* @media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;  
    }
} */

.footer {
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: white;
}

.daily-quote {
    text-align: center;
    font-size: 28px;
}
.post-area {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

.post {
    background: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 1em;
    border-color: darkgray;
    margin: 1em;
    padding-bottom: 0.3em;
}
.post-top {
    font-size: 20px;
}
.post-img {
    width: 100%;
    border-radius: 0.8em 0.8em 0 0;
}
.post-caption {
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 18px;
}

.post-like-comment {
    display:flex;
    justify-content: space-between;
}

.post-like-comment i {
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 30px;
}

.num-likes {
    display:flex;
    align-items:center;
}

.post-table {
    width: 100%;
    height: 30px;
}

.button-center {
    text-align: center;
    font-size: 24px;
}

.button-left {
    text-align: right;
    font-size: 24px;
}

.button-right {
    text-align: left;
    font-size: 24px;
}

.active-button {
    background-color: lightcoral;
    color: white;
}


/* profile css */
.profile-area {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
}

.profile-img {
    height: 20em;
    width: 20em;
    border-radius: 50%;
}

.edit-profile-img {
    height: 20em;
    width: 20em;
    border-radius: 50%;
    cursor:pointer;
}

.profile-stats-div {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile-text-div {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    margin-bottom: 2em;
}

.name-div {
    display: inline-block;
}

.button-follow {
    background: rgb(28, 184, 65);
    color: white;
}

.button-edit {
    background: red;
    color: white;
}

.profile-post-area {
    margin-left: auto;
    margin-right: auto;
    width: 52em;
}

.profile-post {
    padding-bottom: 0.33em;
}

.profile-post-img{
    width: 17em;
    height: 17em;
    object-fit: cover;
}

.edit-post-button {
    background: blue; 
    border:none; 
    position: absolute; 
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.6;
    top:0em; 
    right:1.58em;
    width:1.25em; 
    height:1.25em
}

.edit-post-button:hover {
    opacity: 1
}

.delete-post-button {
    background: red; 
    border:none; 
    position: absolute; 
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.6;
    top:0em; 
    right:0.33em; 
    width:1.25em; 
    height:1.25em;
}

.delete-post-button:hover {
    opacity: 1
}

.delete-exercise-icon {
    padding-left:0.4em;
    color:red;  
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}

.post-icon {
    font-size: 0.3em;
    position: absolute;
    top:2px;
    right:3px;
    color:white;
}

#create_body {
    text-align: center;
}
#post_form {
    display: inline-block;
}

/* search by name */
.search-area {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    min-height: 52.5em;
    background-color: darkgray;
}

.search-container {
    background: white;
    border-radius: 0.5em;
    margin: 2px;
    display: flex;
    align-items:center;
}

.profile-pic {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    padding-right: 0.3em;
    padding-left: 0.1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/* search by hashtag */
.hash-post {
    width: 100%;
}

.num-hash-post {
    text-align: right;
}

.button-blue {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-blue:hover {
background-color: #1d83ff;
}

  .button-red {
    align-items: center;
    appearance: button;
    background-color: rgb(245, 0, 0);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-red:hover {
background-color: rgb(255, 34, 34);
}

.button-green {
    align-items: center;
    appearance: button;
    background-color: rgb(34, 187, 34);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-green:hover {
background-color: rgb(50, 187, 50);
}

/* quote of the day */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  /* border-left:8px solid #78C0A8 ; */
  border-left:8px solid lightcoral ;

  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color: lightcoral;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/* popup */
/* .modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #000;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  } */