{% extends "parent.html" %}
{% block header %}
{% endblock %}
{% block title %} Create Post {% endblock %}
{% block content %}
<div class="imageGallery pure-g">
    {% for id in image_ids %}
      <img class="pure-u-1-6 image" src="{{url_for("view_image", img_id=id)}}"/>
    
    {% endfor %}
</div>
<h1>Page to add post</h1>
<form class="pure-form" method="post" enctype="multipart/form-data" action="{{url_for("upload_post")}}">
    <fieldset>
        <input type="file" name="image" accept="image/jpeg,image/png,image/gif" />
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
</form>
{% endblock %}