{% extends "parent.html" %}
{% block header %}
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}

    <p class="daily-quote">{{quote}}</p>
    {% if not session["profile"] %}
    <div class="pure-g">
        <div class="button-center pure-u-1-1">
            <a class=" pure-button" href="">Explore</a>
        </div>
    </div>
    {% endif %}
    {% if session["profile"] %}
        <div class="pure-g">
            <div class="button-left pure-u-1-2">
                <a class="pure-button" href="">Following</a>
            </div>
            <div class="button-right pure-u-1-2">
                <a class=" pure-button" href="">Explore</a>
            </div>
        </div>
    {% endif %}
    <div class="post-area">
        <div class = "pure-g">
            {% for post in posts %}
                <div class="pure-u-xl-1-1 pure-u-lg-1-1 pure-u-md-1-1 pure-u-sm-1-1">
                    <!-- <div> -->
                        <div class="post">
                            <div class="post-top">
                                <p>*Insert profile pic* *insert profile name*</p>
                            </div>
                            <img class=" post-img pure-img" src="{{url_for("view_post_image", post_id=post['post_id'])}}">
                            
                            <table class="pure-table pure-table-horizontal post-table">
                                <thead>
                                    <tr>
                                        <th>Exercise</th>
                                        <th>Sets</th>
                                        <th>Reps</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for exercise in exercises %}
                                    {% if exercise['post_id'] == post['post_id'] %}
                                        <tr>
                                            <td>{{exercise['exercise_name']}}</td>
                                            <td>
                                                {% if exercise['num_sets'] == None %}
                                                    -
                                                {% else %}
                                                    {{exercise['num_sets']}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if exercise['num_reps'] == None %}
                                                    -
                                                {% else %}
                                                    {{exercise['num_reps']}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if exercise['num_time'] == None %}
                                                    -
                                                {% else %}
                                                    {{exercise['num_time']}} {{exercise['time_units']}}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- <table class="pure-table pure-table-horizontal post-table">
                                <thead>
                                    <tr>
                                        <th>Exercise</th>
                                        <th>Sets</th>
                                        <th>Reps</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Running</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <td>Bench Press</td>
                                        <td>3</td>
                                        <td>12</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>Squats</td>
                                        <td>5</td>
                                        <td>8</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table> -->
                            <p class="post-caption"><b>{{ post['user_id'] }}</b> {{ post['description'] }} </p>
                            <div class="post-like-comment">
                                <div>
                                    <i class="pure-button fa fa-thumbs-up"></i>
                                    <i class="pure-button fa fa-thumbs-down"></i>
                                </div>
                                <div>
                                    <i class="pure-button fa fa-comments"></i>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

