{% extends "parent.html" %}
{% block title %} {% endblock %}
{% block content %}
    <p class="daily-quote">Quote of the Day: "Insert random quote from a database of quotes here" </p>
    <div class="post">
        <div class="post-top">
            <p>*Inser profile pic* *insert profile name*</p>
        </div>
        <img class=" post-img pure-img" src="../static/images/gym_test.jpg">
        <p class="post-caption"><b>*insert_username*</b> *This is the caption, I want to make it long to see what happens*</p>
        <div class="post-like-comment">
            <div>
                <button type=""><i class="pure-button fa fa-thumbs-up"></i></button>
                <button type=""><i class="pure-button fa fa-thumbs-down"></i></button>
            </div>
            <div>
                <button type=""><i class="pure-button fa fa-comments"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

