<!doctype html>
<html lang="en">
<head>
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> -->
    <link rel="stylesheet" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<ul class="topnav">
  <li><a class="left" href="#home"><img src="../images/dumbell_logo.png" style="width:25px;height:25px";>  </a></li>
  <li><a class="left" href="#home">Gymstagram  </a></li>
  <li class="right"><a href="#Login">Log In</a></li>
  <li class="right"><a href="#Signup">Sign In</a></li>
</ul>

<div style="padding:0 16px;">
  <h2>Responsive Topnav Example</h2>
  <p>This example use media queries to stack the topnav vertically when the screen size is 600px or less.</p>
  <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
  <h4>Resize the browser window to see the effect.</h4>
</div>

</body>
</html>