<!DOCTYPE html>
   <html lang = "en">

    <head>
    <link rel ="stylesheet" href = ../static/login.css>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign in</title>
    </head>

    <body>
    <div class="main">
        <p class="sign" align="center">Gymstagram</p>
        <form class="form1">
        <a class="submit" align="center">Sign in</a>
        <p>
            <br>
        </p>
        
        <a class="submit" align="center">Sign up</a>
        <p class="forgot" align="center"><a href="#">Forgot Password?</p>
                
                    
        </div>
        
    </body>

    </html>