{% extends "parent.html" %}
{% block header %}
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}

    <p class="daily-quote">{{quote}}</p>
    {% if not session["profile"] %}
    <div class="pure-g">
        <div class="button-center pure-u-1-1">
            <a class=" pure-button" href="">Explore</a>
        </div>
    </div>
    {% endif %}
    <p>{{hashtag_name}}</p>
    <div class="post-area">
        <div class = "pure-g">
            {% for post in posts %}
                <div class="pure-u-xl-1-1 pure-u-lg-1-1 pure-u-md-1-1 pure-u-sm-1-1">
                    <div class="post">
                        <div class="post-top">
                            <a href="{{ url_for('profile', id=post['user_id']) }}" style="text-decoration: none; color: black;">
                                <p>*Insert profile pic* *insert profile name*</p>
                            </a>
                        </div>
                        <a href = "{{ url_for('view_post',post_id=post['post_id']) }}" style="text-decoration: none; color: black;">
                            <div>
                                <img class=" post-img pure-img" src="{{url_for("view_post_image", post_id=post['post_id'])}}">
                                
                                <table class="pure-table pure-table-horizontal post-table">
                                    <thead>
                                        <tr>
                                            <th>Exercise</th>
                                            <th>Sets</th>
                                            <th>Reps</th>
                                            <th>Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for exercise in exercises %}
                                        {% if exercise['post_id'] == post['post_id'] %}
                                            <tr>
                                                <td>{{exercise['exercise_name']}}</td>
                                                <td>
                                                    {% if exercise['num_sets'] == None %}
                                                        -
                                                    {% else %}
                                                        {{exercise['num_sets']}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if exercise['num_reps'] == None %}
                                                        -
                                                    {% else %}
                                                        {{exercise['num_reps']}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if exercise['num_time'] == None %}
                                                        -
                                                    {% else %}
                                                        {{exercise['num_time']}} {{exercise['time_units']}}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <p class="post-caption"><b>{{ post['user_id'] }}</b> {{ post['description'] }} </p>

                            </div>
                        </a>
                        <div class="post-like-comment">
                            <div>
                                <i class="pure-button fa fa-thumbs-up"></i>
                                <i class="pure-button fa fa-thumbs-down"></i>
                            </div>
                            <div>
                                <a href = "{{ url_for('view_post',post_id=post['post_id']) }}" style="text-decoration: none">
                                    <i class="pure-button fa fa-comments"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

