{% extends "parent.html" %}
{% block header %}
{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="profile-area">
        <div class="pure-g">
            <div class="pure-u-1-1">
                <img class=" post-img pure-img" src="../static/images/profile_pic.jpg">
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-1">
                <p>FirstName LastName</p>
            </div>
        </div>
        <div class="pure-g">
            <div class="outline pure-u-1-3">
                <p>6</p>
            </div>
            <div class="outline pure-u-1-3">
                <p>2</p>
            </div>
            <div class="outline pure-u-1-3">
                <p>3</p>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-3">
                <p>Posts</p>
            </div>
            <div class="pure-u-1-3">
                <p>Followers</p>
            </div>
            <div class="pure-u-1-3">
                <p>Following</p>
            </div>
        </div>
    </div>
    <div class="post-area">
        <div class="pure-g">
            <div class="pure-u-1-3">
                <div class="profile-post">
                    <div class="profile-post-trash">
                        <div>
                            <p>*Insert profile pic*</p>
                        </div>
                        <div>
                            <i class="pure-button fa fa-trash"></i>
                        </div>
                    </div>
                    <img class=" post-img pure-img" src="../static/images/gym_test.jpg">
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="profile-post">
                    <div class="profile-post-trash">
                        <div>
                            <p>*Insert profile pic*</p>
                        </div>
                        <div>
                            <i class="pure-button fa fa-trash"></i>
                        </div>
                    </div>
                    <img class=" post-img pure-img" src="../static/images/gym_test2.jpg">
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="profile-post">
                    <div class="profile-post-trash">
                        <div>
                            <p>*Insert profile pic*</p>
                        </div>
                        <div>
                            <i class="pure-button fa fa-trash"></i>
                        </div>
                    </div>
                    <img class=" post-img pure-img" src="../static/images/gym_test3.jpg">
                </div>
            </div>
        </div>
        <!-- row 2 -->
        <div class="pure-g">
            <div class="pure-u-1-3">
                <div class="profile-post">
                    <div class="profile-post-trash">
                        <div>
                            <p>*Insert profile pic*</p>
                        </div>
                        <div>
                            <i class="pure-button fa fa-trash"></i>
                        </div>
                    </div>
                    <img class=" post-img pure-img" src="../static/images/gym_test4.jpg">
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="profile-post">
                    <div class="profile-post-trash">
                        <div>
                            <p>*Insert profile pic*</p>
                        </div>
                        <div>
                            <i class="pure-button fa fa-trash"></i>
                        </div>
                    </div>
                    <img class=" post-img pure-img" src="../static/images/gym_test5.jpg">
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="profile-post">
                    <div class="profile-post-trash">
                        <div>
                            <p>*Insert profile pic*</p>
                        </div>
                        <div>
                            <i class="pure-button fa fa-trash"></i>
                        </div>
                    </div>
                    <img class=" post-img pure-img" src="../static/images/gym_test6.jpg">
                </div>
            </div>
        </div>
       

    </div>
{% endblock %}

