{% extends "parent.html" %}
{% block header %}
{% endblock %}
{% block title %}Searched{% endblock %}
{% block content %}
<div class="pure-g">
    <!-- IDK HOW TO CENTER ANYTHING OR DO ANYTHING FRONT END FOR SOME REASON -->
    <!-- user['user_id', 'username', 'first_name', 'last_name', 'full_name'] -->
    <!-- PLEASE CENTER AND PUT USERS IN A RECTANGLE JUST LIKE IG PRADGE -->
    <!-- use for redirection to x user profile ->        url_for('profile', 'id=users['user_id']') -->

    {% for user in users %}
    <div class="pure-u-1 pure-u-md-1-3">
        <a href="{{ url_for('profile', id=user['user_id']) }}">
            <p>{{ user['full_name'] }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}